In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [5]:
df =pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)

In [9]:
df =pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [16]:
from sqlalchemy import create_engine

In [26]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [28]:
engine.connect()

# Assistant
The selected code `engine.connect()` creates a new connection to a database using a SQLAlchemy engine object. This method:

1. Opens a new connection to the database specified when the engine was created
2. Returns a Connection object that can be used for executing SQL queries
3. Should typically be closed after use to free up database resources

This is a common first step when working with databases in Python using SQLAlchemy.

In [30]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [32]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator = True, chunksize = 100000)

In [34]:
df = next(df_iter)

In [36]:
len(df)

100000

In [39]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [41]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 15.9 s
Wall time: 42.5 s

1000

In [43]:
from time import time

In [45]:
# Continuous loop for data processing
while True:
    try:
        # Start timing the operation
        t_start = time()
        
        # Get next batch of data from the DataFrame iterator
        # This line might raise StopIteration when no more data is available
        df = next(df_iter)

        # Convert pickup and dropoff datetime strings to datetime objects
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        # Insert the DataFrame into SQL database, appending to existing table
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        # End timing the operation
        t_end = time()          
                  
        # Print the time taken to process and insert the chunk
        print('inserted another chunk, took %.3f seconds' % (t_end - t_start))
        
    except StopIteration:
        # Break the loop when there's no more data to process
        print("Finished processing all data chunks")
        break

inserted another chunk, took 47.784 seconds
inserted another chunk, took 41.051 seconds
inserted another chunk, took 38.421 seconds
inserted another chunk, took 38.934 seconds
inserted another chunk, took 37.980 seconds
inserted another chunk, took 37.099 seconds
inserted another chunk, took 63.598 seconds
inserted another chunk, took 51.803 seconds
inserted another chunk, took 48.970 seconds
inserted another chunk, took 49.751 seconds
inserted another chunk, took 52.843 seconds

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_23720\1763733883.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 80.302 seconds
inserted another chunk, took 47.115 seconds
Finished processing all data chunks

In [47]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-02-24 17:35:18--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.165.185.72, 18.165.185.191, 18.165.185.82, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.165.185.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: 'taxi_zone_lookup.csv.1'

     0K .......... ..                                         100% 98.1M=0s

2025-02-24 17:35:19 (98.1 MB/s) - 'taxi_zone_lookup.csv.1' saved [12331/12331]

In [55]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [57]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [61]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [65]:
df_zones.to_sql(name = 'zones', con = engine, if_exists = 'replace' )

265